* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Alice', serif;
  /* line-height: 150%; */
  color: #573a37;
}

body {
  background-image: url(/assets/bg_baiao_de_dois_opacity_1200x800.jpg);
  background-color: #291b1a;
  background-size: cover;
}

#page-cupcake {
  /*<- box-sizing: border-box; Remove o padrão da caixa para acatar os padrões manual informados no css -- */
  box-sizing: border-box;
  position: relative;
  width: 800px;
  padding: 24px;
  background-color: #f0e8c2;
  opacity: 0.7;
  border-radius: 24px;
  margin: 48px auto 28px;
}

.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.back-button img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}


img {
  border-radius: 16px;
  width: 752px;
  height: 400px;
}

figcaption {
  font-size: 09px;
}


section h2 {
  margin-top: 24px;
}

main {
  padding: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
  line-height: 150%;
}

h1,
h2 {
  color: #291b1a;
  margin-bottom: 4px;
}

ul {
  padding-left: 28px;
}

footer {
  color: #f0e8c2;
  text-align: center;
  padding-bottom: 48px;
}
footer img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 4px;
}
footer button {
  margin-bottom: 10px;
}

.modern-button {
  background-color: #6213b0; /* Cor de fundo do botão */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.modern-button a {
  color: rgb(243, 238, 238);
  text-decoration: none;
}

.modern-button:hover {
  background-color: #b300b3; /* Cor de fundo ao passar o mouse */
  transform: scale(1.2);
}

.modern-button:active {
  background-color: hwb(299 0% 50%); /* Cor de fundo ao clicar */
}
